/* Estilo global */
body {
  font-family: sans-serif;
  background-color: #f3f4f6; /* Fundo claro */
  margin: 0;
  padding: 0;
  color: #ffffff; /* Texto escuro */
  background-image: url("https://i.redd.it/m6up7z4yphh31.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Container principal */
#playerInfo {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(83, 83, 83, 0.9); /* Fundo do card com transparência */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Títulos */
h2 {
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
}

/* Imagem do jogador */
#playerInfo img {
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 20px;
}

/* Parágrafos */
p {
  font-size: 16px;
  line-height: 1.6;
  margin: 12px 0; /* Aumentado para melhor legibilidade */
}

/* Links */
a {
  color: #00a2ffcb; /* Azul NBA */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s; /* Transição suave */
}

a:hover {
  color: #0080b3; /* Tom mais escuro de azul para hover */
  text-decoration: underline;
}

/* Mensagens de erro */
.error-message {
  color: #d9534f; /* Vermelho */
  font-weight: bold;
}

.team-logo {
  height: 250px;
  width: 250px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.team-logo {
  height: 15vh;
  width: auto;
}

.navbar {
  background-color: #333;
  height: 7.75vh;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
a,
a:visited {
  color: #bbb;
  font-weight: bold;
  font-size: 1.3rem;
}

#cu {
  position: absolute;
  margin-right: 350px;
}

/* Estilo de responsividade */
@media (max-width: 600px) {
  #playerInfo {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
