body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.games-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-item {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-logo {
    width: 50px; /* Tamanho da imagem do time */
    height: auto;
}

.game-details {
    flex-grow: 1;
    padding: 0 20px;
    text-align: left;
}
